<main>
  <section class="container">
    <div class="movies">
      <div id="loader"  *ngIf="toggleLoader">
        <app-loader></app-loader>
      </div>
      <div class="movie_card" *ngFor="let movie of movies" [ngStyle]="{'animation': movies.length && 'movies-up .5s ease'}">
        <div class="movie_img" [routerLink]="['/movie/' + movie.id]">
          <img mat-card-image src="./assets/img/poster.jpg" alt="Poster" />
          <div class="info">
            <div class="directored">
              <p>Directored by</p>
              <p><strong>{{ movie.director }}</strong></p>
            </div>
            <div class="bottom_info">
              <div class="details">
                <p>Rate: {{ movie.rt_score }}</p>
                <p>Year {{ movie.release_date }}</p>
              </div>
              <div class="progress">
                <div class="rate" 
                  [ngStyle]="{'width': movie.rt_score +'%'}"
                  [ngClass]="{
                    green: movie.rt_score>=80,
                    yellow: movie.rt_score>40 && movie.rt_score<80,
                    red: movie.rt_score<=40
                  }"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="movie_title">
          <h3>{{ movie.title }}</h3>
        </div>
      </div>
    </div>
  </section>
</main>
