<main>
  <section class="container">
    <div class="movies">
      <div id="loader"  *ngIf="toggleLoader">
        <app-loader></app-loader>
      </div>
      <div class="movie_card" *ngFor="let movie of movies" [ngStyle]="{'animation': movies.length && 'movies-up .5s ease'}">
        <div class="movie_img" [routerLink]="['/movie/' + movie.id]">
          <img mat-card-image src="./assets/img/poster.jpg" alt="Poster" />
          <div class="info">
            <div class="directored">
              <p>Directored by</p>
              <p><strong>{{ movie.director }}</strong></p>
            </div>
            <app-bottom-info [score]='movie.rt_score' [date]='movie.release_date'></app-bottom-info>
          </div>
        </div>
        <div class="movie_title">
          <h3>{{ movie.title }}</h3>
        </div>
        <div class="movie_details_mob">
          <p>{{ movie.director }} film.</p>
          <app-bottom-info [score]='movie.rt_score' [date]='movie.release_date'></app-bottom-info>
        </div>
      </div>
    </div>
  </section>
</main>
